$colours: (
    wisdomblue: (
      main:#0096D1,
      dark:#0078A7,
      darker:#005A7D,
      darkest:#003C54,
      light:#33ABDA,
      lighter:#66C0E3,
      lightest-1:#99D5ED,
      lightest-2:#CCEAF6,
      lightest-3:#E5F4FA,
    ),
    
    protectedteal: (
      main:(#0099B1),
      dark:(#007A8E),
      darker:(#005C6A), 
      darkest:(#005C6A), 
      light:(#33ADC1), 
      lighter:(#66C2D0), 
      lightest-1:(#99D6E0), 
      lightest-2:(#CCEBEF), 
      lightest-3:(#E5F5F7)
    ),
    safeguardingblue:(
      main:#1F003B,
      dark:#19002F,
      darker:#130023,
      darkest:#130023,
      light:#4C3362,
      lighter:#796689,
      lightest-1:#A599B1,
      lightest-2:#D2CCD8,
      lightest-3:#E9E5EB,
    ),
    calmingviolet:(
      main: #1F003B,
    dark:#7E004A,
    darker:#5F0038,
    darkest:#3F0025,
    light:#B1337D,
    lighter:#C5669E,
    lightest-1:#D899BE,
    lightest-2:#ECCCDF,
    lightest-3:#F5E5EF)
    ,
    hopefulyellow:
    (main: #F39200,
    dark:#C27500,
    darker:#925800,
    darkest:#613A00,
    light:#F5A833,
    lighter:#F8BE66,
    lightest-1:#FAD399,
    lightest-2:#FAD399,
    lightest-3:#FEF4E5),
    growthgreen:(
      main: #22B573,
      dark:#1B915C,
      darker:#146D45,
      darkest:#0E482E,
      light:#4EC48F,
      lighter:#7AD3AB,
      lightest-1:#A7E1C7,
      lightest-2:#D3F0E3,
      lightest-3:#E9F8F1),
    confidentcyan:(
      main: #59CCD8,
      dark:#47A3AD,
      darker:#357A82,
      darkest:#245256,
      light:#7AD6E0,
      lighter:#9BE0E8,
      lightest-1:#BDEBEF,
      lightest-2:#DEF5F7,
      lightest-3:#EEFAFB),
    concernred:(main:  #1F003B,
      dark:#9B2222,
      darker:#741A1A,
      darkest:#4E1111,
      light:#CE5555,
      lighter:#DA8080,
      lightest-1:#E7AAAA,
      lightest-2:#F3D5D5,
      lightest-3:#F9EAEA
      ),
      text:(
        main:#323742,
        light:#5B5F68,
        lighter:#84878E
      )

);
