@import 'globalStyles/global.scss';
@import 'globalStyles/icons.scss';
  
.input-area{
  padding:2em;
  max-width:$form-menu-width;
  background:white
}

.input-title{
  font-size: 16px;
  font-weight:bolder;
  margin-bottom:1em
}


.input-label{
    font-size: 16px;
   line-height:19px;
   margin:1px 0
  }

  .required{
    color:#C22B2B;
  }

  .input-hint{
    font-size: 14px;
    line-height:17px;
    margin:1px 0
  }

  .input-validation{
    font-size: 14px;
    line-height:17px;
    margin:1px 0;
 
    &--error{
      color:#C22B2B;
    }
    &--error:before{
      margin:.0 .25em 0 0;
      position: relative;
      top: 2px;
      content:url('../img/icon-error.svg');
      }

      &--warning{
        color:#F39200;
      }
      &--warning:before{
        margin:.0 .25em 0 0;
        position: relative;
        top: 2px;
        content:url('../img/icon-warning.svg');
        }

        &--success{
          color:#22B573;
        }
        &--success:before{
          margin:.0 .25em 0 0;
          position: relative;
          top: 2px;
          content:url('../img/icon-success.svg');
          }
    }
  


    .input-text-content-wrapper{
      display:flex
    }
    .input-text-content{
      margin:7px 0;
      height:40px;
      line-height:17px;
      padding:0 0.5em;
      font-family: 'Barlow';
      font-size:16px;
      width:calc(100% - 2em);
      border-radius: 4px;
      border-width:1px;
      border-color: $text-colour;
      color: $text-colour;
      outline:none;
      &:hover{
        background: darken(white, $darkenby);
        cursor: pointer;
        }
    }
    .input-textarea-content{
      margin:7px 0;
      padding:00.75em;
      font-family: 'Barlow';
      font-size:16px;
      width:calc(100% - 2em);
      border-radius: 4px;
      border-width:1px;
      border-color: $text-colour;
      color: $text-colour;
      outline:none;
      &:hover{
        background: darken(white, $darkenby);
        cursor: pointer;
        }
    }


    
    .input-text-icon{
      display: block;
      background-repeat: no-repeat;
      height:24px;
      width:24px;
      transform: translate(-32px, 16px);
      }
